body {
    font-family: Arial, Helvetica, sans-serif;
    height: 500px;
}

header {
    height: 30px;
    background-color: #ff5b62;
    padding: 25px;
}

#tela {
    background-color: white;
}

footer {
    background-color: bisque;
    height: 40px;
}

main {
    height: 465px;
    padding: 18px;
}